[Dd]ebug/
[Rr]elese/
[Oo]bj/
[Bb]in/
*.suo
*.user
*.sln.cache
/TestResults
*.vspscc
*.vssscc
*[Rr]e[Ss]harper.user
_ReSharper.*/
[Mm]etric[Rr]esults
[Pp]ackages
[Ss]ervices/[Rr]aven[Dd]b/[Dd]ata
[Ss]ervices/[Rr]aven[Dd]b/[Ll]ogs